<h3> Employee Details</h3>
      <div class="vcard">
        <div class="fn">
            <strong class="type">First Name</strong>:
            <span class="value">{{ employee?.firstName }}</span>
        </div>
        <div class="fn">
            <strong class="type">Last Name</strong>:
            <span class="value">{{ employee?.lastName }}</span>
        </div>
        <div class="fn">
            <strong class="type">Email Adress</strong>:
            <span class="value">{{ employee?.emailId }}</span>
        </div>
    </div>